@page "/"

<br /><br /><br />
<h1 class="text-center">Simulador de Memoria</h1>

<h3 class="text-center">Integrantes de Grupo</h3>

<div class="row">
    <dic class="offset-md-3 col-md-6">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>Carnét</th>
                    <th>Nombres</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>5190-09-13663</td>
                    <td>Carlos Hernández</td>
                </tr>
                <tr>
                    <td>5190-14-16311</td>
                    <td>Dennis Oxlaj</td>
                </tr>
            </tbody>
        </table>
    </dic>
</div>
